.main__chatcontent {
  flex-grow: 1;
  padding: 20px 40px;
  max-width: 70%;

  background-color: white;

  border-radius: 0.5rem;
  width: 48rem;
  height: 35rem;
}
.content__header {
  padding-bottom: 1rem;
  border-bottom: 1px dashed #607ea5;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
  color: black;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__body {
  max-height: calc(100vh - calc(100vh / 2.17));
  overflow: auto;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
  animation-fill-mode: both;
  animation-delay: 0.2s;

  margin-top: 0.2rem;
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat__item .avatar {
  margin-right: 0;
  margin-left: 1rem;
  background: #fff;
  padding: 1px;
}
.chat__item__content {
  background: #7bb6ff;

  color: #fff;
  padding: 15px;
  border-radius: 1rem 1rem 0 1rem;
  max-width: 50%;
  min-width: 215px;
}
.chat__item__content .chat__meta {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
.chat__item__content .chat__meta span {
  font-size: 14px;
  color: gray;
  user-select: none;
}
.chat__msg {
  user-select: none;
}

.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}

.content__footer {
  padding-top: 30px;
}

.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: transparent;

  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover {
  transform: scale(1.2);
}

.sendNewMessage button i {
  display: block;
}

.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}

#sendMsgBtn {
  height: 3rem;
  width: 3rem;
}

img.mes-icon {
  height: 1.5rem;
  width: 1.5rem;
}

img.senddd {
  height: 1.8rem;
  width: 1.8rem;
}

input.input-message {
  background-color: #e2efff;
  border-radius: 0.3rem;
  border: 1px dashed #24456f;

  border-radius: 10px 10px 0 10px;
}

/* ----CHAT ITEM STYLING FOR LEFT AND RIGHT---- */

/* div.chat__item 
Me => account owner => stay on the RIGHT */

/* Incoming chat from people I matched with => stay on the LEFT */

.chat__item.incoming_chat_left {
  flex-direction: row-reverse;
}

.incoming_chat_left .chat__item__content {
  border-radius: 1rem 1rem 1rem 0;

  background: rgb(223, 223, 223);
  color: black;
}

.chat__item.incoming_chat_left .avatar {
  margin-right: 1rem;
  margin-left: 0;
}
