.main__chatbody {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: dashed 6px #406ca6;
}

div.main__chatbody {
  animation: chatFlow 6s 1 ease forwards;
  color: transparent;
  background-color: transparent;
}

@keyframes chatFlow {
  0% {
    position: relative;
    left: -3500px;
    
    opacity: 0;
  }
  50% {
    position: relative;
    left: calc(100vw / 800);
    
    opacity: 1;
  }
}
