.main__chatbody {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: dashed 6px #406ca6;
}
