@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

/* -----START EACH PROFILE CARD COMPONENT----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.each-profile-container {
  margin: 0 auto;
  text-align: center;
}

.img {
  background-image: url('https://en.pimg.jp/053/226/844/1/53226844.jpg');
  height: 100px;
  width: 400px;
}

.profile-wrapper {
  max-width: 300px;
  background-color: #f3ceda;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1rem;
  border: solid 4px;
}

.profile-wrapper:hover {
  cursor: pointer;
  border: solid 5px;
  padding: 0.25em 0.5em;
  box-shadow: #5985ca 3px 3px 0px 0px, #5985ca 5px 5px 0px 0px,
    #5985ca 5px 5px 0px 0px, #5985ca 6px 6px 0px 0px, black 7px 7px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.each-profile-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-top: -52px;
  margin-bottom: 20px;
}

.each-profile-container h2 {
  color: #2d5b6c;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: Concert One;
}

.each-profile-container h2 span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.each-profile-container p {
  color: hsl(227, 10%, 46%);
  font-size: 13px;
}

.profile-footer {
  display: flex;
  flex-direction: row;
  border-top: 3px dashed hsla(240, 40%, 2%, 0.412);
  padding: 1.5rem;
  margin-top: 1rem;
}
.profile-footer:after {
  display: flex;
  flex-direction: row;
  border-top: 3px dashed hsla(240, 40%, 2%, 0.412);
  padding: 1.5rem;
  margin-top: 1rem;
}

/* -----END EACH PROFILE CARD COMPONENT----- */
