.profile-container {
  box-sizing: border-box;
  background-color: red;
}

.my-swiper {
  background-color: blue;
}

.swiper-slice {
  background-color: pink;
}

img.swiper-slice {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
