@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

/* -------BACK profile card---------- */

img.back-profile-pic {
  margin-top: 1rem;
  margin-bottom: -3rem;
  margin-left: 1rem;
  margin-right: 1rem;

  padding: 0;
  height: 12rem;
  width: 12rem;
  border-radius: 65% 35% 38% 62% / 62% 61% 39% 38%;
  border: dashed 5px #f78c8c;
}

.container {
  text-align: center;


  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
 
}

.back-wrapper {
  max-width: 20rem;
  min-height: 37rem;
  max-height: 38rem;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 3rem;
  border: solid 5px #204a80;
}

.back-wrapper:hover {
  border: 4px solid #f78c8c;

  box-shadow: #ffdad7 8px 8px 0px 0px, #ffdad7 8px 8px 0px 0px,
    #ffdad7 6px 6px 0px 0px, #ffdad7 8px 8px 0px 0px, black 8px 8px 0px 0px;
}

h2.bio {
  margin-top: -0.5rem;
  font-family: roboto mono;
  font-weight: 900;
  -webkit-text-stroke: 1px #204a80;
  text-shadow: #b5cae5 3px 3px;
  color: #406ca6;
  font-size: 2rem;
  font-weight: 700;
}

.profile-footer-bio {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.profile-footer-bio p.profile-bio {
  font-family: Roboto Mono;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 900;
  color: #646464e7;
  -webkit-text-stroke: 0.3px #646464e7;
}

.profile-footer p.num {
  font-family: roboto mono;
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 5px;
  color: #406ca6;
  -webkit-text-stroke: 1px #406ca6;
}

div.empty-bottom {
  height: 4rem;
}

img.user-badge {
  height: 5rem;
  width: 5rem;
  margin-right: 1.2rem;
  margin-bottom: -2rem;
  margin-left: 1rem;
}

div.empty-bottom-back {
  background-color: #d8e9ff;
  opacity: 1;
  background-image: radial-gradient(#406ca6 1.8px, transparent 1.8px),
    radial-gradient(#406ca6 1.8px, #d8e9ff 1.8px);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;

  height: 4rem;
}

div.profile-top-back {
  background-color: #d8e9ff;
  opacity: 1;
  background-image: radial-gradient(#406ca6 1.8px, transparent 1.8px),
    radial-gradient(#406ca6 1.8px, #d8e9ff 1.8px);
  background-size: 64px 64px;
  background-position: 0 0, 32px 32px;

  height: 8rem;
}

div.back-content {
  margin-top: 8rem;
}
