section {
  padding: 3rem 3%;
}
.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;

  /* The image used */
  /* background: url('./images/blue.png'); */
  /* background: url('./images/blueBBD9FF.png'); */
  background: url('./images/layer2.png'), url('./images/layer3.png'),
    url('./images/blueD8E9FF.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0%;
}

.home .homeContent {
  width: 53%;
  float: right;
  text-align: center;

  padding: 4rem;
  margin-top: 2rem;
}

.land-btn {
  font-family: Lora;
  font-weight: 600;
  text-transform: uppercase;

  color: #406ca6;
  border: 3.5px dashed #406ca6;
  border-radius: 10% 28% 10% 10% / 0% 55% 0% 0%;
  text-shadow: #b5cae5 2px 2px;

  background-color: #ff9eae;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 15px;
  box-shadow: #5985ca 4px 4px 0px 0px, #5985ca 6px 6px 0px 0px,
    #5985ca 6px 6px 0px 0px, #5985ca 7px 7px 0px 0px, black 8px 8px 0px 0px;
  position: relative;
}

.land-btn:hover {
  color: #3767a7;
  text-shadow: #b5cae5 2px 2px;
  font-weight: 900;
  border: 3.5px dashed #406ca6;
  border-radius: 10% 28% 10% 10% / 0% 55% 0% 0%;
  background-color: #ff9eae;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 15px;
  box-shadow: #5985ca 1px 1px 0px 0px, #5985ca 2px 2px 0px 0px,
    #5985ca 2px 2px 0px 0px, #5985ca 3px 3px 0px 0px, black 4px 4px 0px 0px;
  position: relative;
  text-transform: uppercase;
}

section#home.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6%;
}

h2.intro-large {
  font-family: Lora;
  font-style: italic;
  font-weight: 900;
  color: #406ca6;
  text-align: right;
  margin-bottom: 0;

  font-size: 3rem;
  text-transform: uppercase;
  margin-right: 21px;
  line-height: 4rem;
}
h3.intro-small {
  font-family: concert one;
  color: #fb8d9f;
  text-align: right;
  margin-right: 28px;

  font-size: 2.5rem;
  line-height: 3rem;
}
p.landing-p {
  font-family: Lora;
  /* font-style: italic; */
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 500;
  color: rgb(69, 69, 69);
}

div.chat-box {
  background-color: transparent;
  width: 12.5rem;
  height: 12.5rem;

  bottom: -4rem;
  right: -3.5rem;

  z-index: 9000;
  position: fixed;
}

.logo-chatbot img {
  height: 6rem;
  animation: boucingAnnLOL 1.5s ease infinite forwards;
}
@keyframes boucingAnnLOL {
  0% {
    transform: translateY(-0.3rem);
  }
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(-0.3rem);
  }
}

div.landing-animation-container {
  background-color: #fbbec9;
  border-radius: 60% 78% 37% 81% / 96% 88% 40% 41%;

  padding: 2rem;
  padding-top: 2rem;
  padding-right: 2.25rem;
  padding-left: 3.7rem;

  margin-left: 1rem;
}
